mat-table{
  overflow-y: auto;
  max-height: 720px;
}

mat-header-cell{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 16px;
   font-weight: 700;

}
mat-cell {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.coluna-acoes{
  flex: 0 0 160px;
}

