mat-card{
  margin: 15px;
}
mat-table{
  overflow-y: auto;
  max-height: 720px;
}

mat-header-cell{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 16px;
   font-weight: 700;

}
mat-cell {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 18px;
}

mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 100px;
}

button{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.coluna-acoes{
  flex: 0 0 200px;
}
